## Ignore arquivos e pastas de compilação do .NET
**/bin/
**/obj/
/WebApp/bin/

## Ignore pastas específicas do JetBrains Rider e Visual Studio
.idea/
.vs/
*.user
*.suo

## Ignore arquivos de documentação do desafio na entrega
Desafio_Tcnico-V2.pdf
GUIA_DESAFIO.md

